<h2>Klacht indienen</h2>

<form action="/jc/apply" method="post">
    <div class="row">
        <div class="input-field col s6">
            <label for="locatie">Locatie:</label>
            <input type="text" id="locatie" name="location" required>
        </div>

        <div class="input-field col s6">
            <label for="datetime">Datum en tijd van indicent:</label>
            <input type="datetime-local" id="datetime" name="datetime" required>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <label for="accused">Beschuldigde:</label>
            <input type="text" id="accused" name="accused">
            <p>Bij meerdere beschuldigde scheid de namen met een komma</p>
        </div>

        <div class="input-field col s6">
            <label for="witnesses">Getuigen:</label>
            <input type="text" id="witnesses" name="witnesses">
            <p>Bij meerdere getuigen scheid de namen met een komma</p>
        </div>
    </div>

    <div class="input-field">
        <label for="happend">Wat is er gebeurd:</label>
        <textarea rows="6" class="materialize-textarea" id="happend" name="happend" required></textarea>
        <input type="submit" class="btn" value="Opsturen">
    </div>
</form>
