<h1>Klacht indienen</h1>

<form action="/jc/apply" method="post">
    <div class="form-group form-inline">
        <label for="locatie">Locatie:</label>
        <input class="form-control" type="text" id="locatie" name="location" required>
    </div>
    <div class="form-group form-inline">
        <div class="form-group">
            <label for="datetime">Datum en tijd van indicent:</label>
            <input class="form-control" type="datetime-local" id="datetime" name="datetime" required>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label for="accused">Beschuldigde:</label>
            <input class="form-control" type="text" id="accused" name="accused">
            <p>Bij meerdere beschuldigde scheid de namen met een komma</p>
        </div><br>
        <div class="form-group">
            <label for="witnesses">Getuigen:</label>
            <input class="form-control" type="text" id="witnesses" name="witnesses">
            <p>Bij meerdere getuigen scheid de namen met een komma</p>
        </div>
    </div>
    <div class="form-group">
        <label for="happend">Wat is er gebeurd:</label>
        <textarea rows="6" class="form-control" id="happend" name="happend" required></textarea>
    </div>
    <input type="submit" value="Opsturen">
</form>
