<div class="row">
    <h2>JC klachten</h2>
    <div class="col s3">
        <div class="collection">
            <a href="#!" class="collection-item"><span class="badge">1</span>Open</a>
            <a href="#!" class="collection-item"><span class="new badge">4</span>Rechtzaken</a>
            <a href="#!" class="collection-item">iets ander</a>
        </div>
    </div>
    <div class="col s9">
        <table id="complaints-table" class="table"></table>
    </div>
</div>

<script type="text/javascript">
    var complaints = $.parseJSON('<%- JSON.stringify(complaints) %>');
    draw_table_complaints(complaints);

    function draw_table_complaints (complaints) {
        var table = document.getElementById('complaints-table');
        var row0 = table.insertRow(0);
        row0.insertCell(0).innerHTML = '<b>Klachtnummer</b>';
        row0.insertCell(1).innerHTML = '<b>Opbrenger</b>';
        row0.insertCell(2).innerHTML = '<b>Aangeklaagde</b>';
        row0.insertCell(3).innerHTML = '<b>Getuigen</b>';
        row0.insertCell(4).innerHTML = '<b>Wat is er gebeurd</b>';
        for (var i = 0; i < Object.keys(complaints).length; i++) {
            var row = table.insertRow(1);
            row.insertCell(0).innerHTML = '<a href="/jc/complaint/' + complaints[i]._id + '/">' + complaints[i].record + '</a>';
            row.insertCell(1).innerHTML = complaints[i].originator.map(user => {return ' ' + user[1]});
            row.insertCell(2).innerHTML = complaints[i].accused.map(user => {return ' ' + user[1]});
            row.insertCell(3).innerHTML = complaints[i].witnesses.map(user => {return ' ' + user[1]});
            row.insertCell(4).innerHTML = complaints[i].happend;
        }
    }
</script>
