<h3>Create new user</h3>
<form id="user-add-form" method="post" action="/account/manage/add">
	<table>
        <div class="input-field">
            <label>First name: </label>
    		<input name="firstName" type='text'></input>
        </div>

        <div class="input-field">
            <label>Second name: </label>
    		<input name="secondName" type='text'></input>
        </div>

        <div class="input-field">
            <label>Password: </label>
    		<input name="password" type='password'></input>
        </div>

        <div class="input-field">
            <label>Email:</label>
    		<input name="email" type='email'></input>
        </div>

		<input type='submit' class="btn" value="Create user"></input>
		</tr>
	</table>
</form>
