<div class="row">
    <div class="col s4">
		<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              	<span class="card-title">Opbrengen</span>
              	<p>Let bij het opbrengen wel op dat het een bkldvbkjvkjdf</p>
            </div>
            <div class="card-action">
              	<a href="/jc/apply">Klacht opbrengen</a>
            </div>
      	</div>
    </div>
    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              	<span class="card-title">Subcommittees</span>
              	<p>Hieronder staan alle Subcommittees waar aan je bent toegewezen</p>
                <% if (jcSubcommittees.length > 0) { %>
                <table class="bordered">
                    <tr>
                        <th>Klacht</th>
                        <th>toegewezen</th>
                    </tr>
                    <% jcSubcommittees.forEach(function (subcommittee) { %>
                    <tr>
                        <td><a href="/jc/subcommittees/<%= subcommittee.id %>" class="white-text"><%= subcommittee.complaint %></a></td>
                        <td><%= subcommittee.assigned.map(user => {return ' ' + user[1]}) %></td>
                    </tr>
                    <% }) %>
                </table>
                <% } else { %>
                    <br>
                    <p><b>Er zijn momenteel geen subcommittees waar je aan bent toegewezen</b></p>
                <% } %>
            </div>
      	</div>
    </div>
    <div class="col s4">

    </div>
</div>
